################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Curricula/.vs/Curricula/FileContentIndex/0a2bdc82-8936-436b-97ea-be43efd70671.vsidx
/Curricula/.vs/Curricula/FileContentIndex/348eff8f-554b-49e3-8733-e1d17930a542.vsidx
/Curricula/.vs/Curricula/FileContentIndex/157088d2-6d1a-4733-9bd4-ee1bc6f0366d.vsidx
/Curricula/.vs/Curricula/FileContentIndex/9a3d272c-8649-4859-be1e-f2d044bba88e.vsidx
/Curricula/.vs/Curricula/FileContentIndex/read.lock
/Curricula/.vs/Curricula/FileContentIndex/57a12db7-c835-412d-82ce-80ef60cb36be.vsidx
/Curricula/.vs/Curricula/FileContentIndex/e0350762-eebc-41a0-993d-daf90c88394c.vsidx
/Curricula/.vs/Curricula/FileContentIndex/e79cd211-833d-4a7c-924d-1f6edb150f66.vsidx
/Curricula/.vs/Curricula/FileContentIndex/0a2bdc82-8936-436b-97ea-be43efd70671.vsidx
/Curricula/.vs/Curricula/FileContentIndex/157088d2-6d1a-4733-9bd4-ee1bc6f0366d.vsidx
/Curricula/.vs/Curricula/FileContentIndex/348eff8f-554b-49e3-8733-e1d17930a542.vsidx
/Curricula/.vs/Curricula/FileContentIndex/9a3d272c-8649-4859-be1e-f2d044bba88e.vsidx
/Curricula/.vs/Curricula/FileContentIndex/read.lock
/.vs
/packages
