
@{
    ViewBag.Title = "Cadastrar-se";
    Curriculum.Models.Usuario u = (Curriculum.Models.Usuario)Session["Usuario"];

    Curriculum.Models.Itens i = new Curriculum.Models.Itens();
    var estados = i.Estados;
    var cursos = i.cursos(Model);
}

@if (u == null && Model != null)
{
    <section class="cadastro">
        <p class="mensagem">@TempData["msg"]</p>

        <div class="centro cadastrar">
            <br />
            <form method="post" enctype="multipart/form-data">
                <div class="centro">
                    <h2 class="titulo">Registrar-se</h2>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Nome:</h2>
                    <input type="text" placeholder="Nome" name="nome" id="campoNome" />
                    <p id="pCampoNome"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Sobrenome:</h2>
                    <input type="text" placeholder="Sobrenome" name="sobrenome" id="campoSobrenome" />
                    <p id="pCampoSobrenome"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Data de nascimento:</h2>
                    <input type="date" name="dataNascimento" min="1930-01-01" max="2020-01-01" value="2000-01-01" />
                </div>

                <div class="centro">
                    <h2 class="rotulo">Telefone:</h2>
                    <input type="text" placeholder="Telefone" name="telefone" class="tel" id="campoTelefone" />
                    <p id="pCampoTelefone"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Bairro:</h2>
                    <input type="text" placeholder="Bairro" name="bairro" id="campoBairro" />
                    <p id="pCampoBairro"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Cidade:</h2>
                    <input type="text" placeholder="Cidade" name="cidade" id="campoCidade" />
                    <p id="pCampoCidade"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Estado:</h2>
                    @Html.DropDownList("estado", new SelectList(estados, "Value", "Text"), new { @id = "campoEstado" })
                    <p id="pCampoEstado"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">CEP:</h2>
                    <input type="text" placeholder="CEP" name="cep" class="cep" id="campoCep" />
                    <p id="pCampoCep"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Curso realizado:</h2>
                    @Html.DropDownList("cursoRealizado", new SelectList(cursos, "Value", "Text"), new { @id = "campoCurso" })
                    <p id="pCampoCurso"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Currículo:</h2>
                    <input type="button" id="botaoArquivo" />
                    <input type="file" name="arquivo" accept=".pdf, .docx" id="campoArquivo" />
                    <p id="pCampoArquivo"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Palavras-chave: <i class="fa fa-question-circle" aria-hidden="true" id="duvidaPalavrasChave"></i></h2>
                    <p id="secaoDuvidaPalavrasChave" style="display: none">Este é um campo opcional. As palavras-chave serão usadas para encontrar informações 
                    específicas em seu perfil, como habilidades e experiências. Cada palavra-chave deve ser separada com ponto e vírgula (;)</p>
                    <textarea name="palavrasChave" id="campoPalavrasChave"></textarea>
                    <p id="pCampoPalavrasChave"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Nome de usuário:</h2>
                    <input type="text" placeholder="Nome de usuário" name="nomeUsuario" id="campoNomeUsuario" />
                    <p id="pCampoNomeUsuario"></p>
                </div>

                <div class="centro">
                    <h2 class="rotulo">Senha:</h2>
                    <input type="password" placeholder="Senha" name="senha" class="senha" id="campoSenha" />
                    <input type="password" placeholder="Confirme a senha" name="confirmacao" class="senha" id="campoConfirmacao" />
                    <i class="fa fa-eye" aria-hidden="true" id="verSenha"></i>
                    <p id="pCampoConfirmacao"></p>
                    <div class="limpar"></div>
                </div>

                <div class="centro">
                    <input class="botao-cliente" type="submit" value="Cadastrar" />
                </div>
            </form>
            <br />
        </div>
    </section>
}
else
{
    <h2 class="titulo">Nada para mostrar aqui :(</h2>
}
