
@{
    ViewBag.Title = "Candidatar-se";
    Curriculum.Models.Usuario u = (Curriculum.Models.Usuario)Session["Usuario"];
    Curriculum.Models.Aluno a = (Curriculum.Models.Aluno)TempData["aluno"];
    List<Curriculum.Models.Vaga> lista = (List<Curriculum.Models.Vaga>)TempData["listaVagas"];
}

@if (u != null && a != null)
{
    <section class="candidatar">
        <p class="mensagem">@TempData["msg"]</p>
        <h2 class="titulo">Candidatar-se</h2>

        @if (lista != null)
        {
            <div class="centro resultados">
                <h2 class="subtitulo">Mostrando vagas de acordo com seu curso</h2>
                <ul>
                    @foreach (Curriculum.Models.Vaga v in lista)
                    {
                        <li><span>@v.NomeVaga - @v.NomeEmpresa <a href="~/Home/VerVaga/@v.CodVaga" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i> Ver vaga</a><a href="~/Home/Candidatar/@v.CodVaga"><i class="fa fa-paper-plane" aria-hidden="true"></i> Candidatar-se</a></span></li>
                    }
                </ul>
            </div>
        }
        else if (a.Empregavel == false)
        {
            <p>Você deve ser empregável para poder se candidatar a uma vaga. <a href="~/Home/Conta">Mudar para empregável</a></p>
        }
    </section>
}
else
{
    <h2 class="titulo">Nada para mostrar aqui :(</h2>
}


