
@{
    ViewBag.Title = "Início";
}

<section class="banner">
    <div class="sobreposicao"></div>
    <div class="centro">
        <div class="alinhar">
            <h2>Curriculum</h2>
            <h2 class="slogan">O seu futuro é aqui</h2>
        </div>
    </div>
</section>
        
<section class="descricao">
    <div class="centro">
        <div class="divisao2 esquerda">
            <h2>Sobre o serviço</h2>
                    
            <p>O Curriculum é uma plataforma que tem o intuito de ajudar você a ingressar no mercado de trabalho. Com apenas alguns 
            cliques, é possível inserir em nossa base de dados suas informações básicas e currículo, permitindo com que você tenha acesso 
            à diversas vagas em sua área de formação para se candidatar.</p>
            <p>Os administradores do serviço são os responsáveis por lançar as vagas para candidatura e também contam com ferramentas de 
            pesquisas avançadas que possibilitam encontrar um perfil específico. Além disso, os administradores têm acesso às informações de 
            cada perfil candidatado em uma vaga, podendo assim obter o currículo e destiná-lo à empresa solicitante.</p>
            <p>Nossa plataforma conta com um sistema de usuários e senha com criptografia para que suas informações permaneçam seguras e 
            confidenciais. Você tem também total controle sobre suas informações, que podem a qualquer momento ser atualizadas.</p>
            <p>Se interessou pelo Curriculum? <a href="~/Home/Conta">Acesse agora mesmo!</a></p>
        </div>
                
        <div class="divisao2 esquerda">
            <div class="secao-imagem">
                <img class="imagem" src="~/Content/Imagens/curriculum-banner.png" />
            </div>
        </div>
                
    </div>
    <div class="limpar"></div>
</section>
