
@{
    ViewBag.Title = "Início";
}

<section class="banner">
    <div class="sobreposicao"></div>
    <div class="centro">
        <div class="alinhar">
            <h2>Curricula</h2>
            <p class="slogan">A raiz do seu futuro</p>
        </div>
    </div>
</section>
        
<section class="descricao">
    <div class="centro">
        <div">
            <h2>Sobre o serviço</h2>
                    
            <p>O Curricula é uma plataforma que tem por objetivo ajudar a sua instituição de ensino a empregar seus alunos e ex-alunos.</p>
            <p>Com apenas alguns cliques, os alunos da instituição podem inserir na base de dados do Curricula suas informações básicas e currículo, 
            permitindo com que se candidatem à vagas relacionadas às suas áreas de formação.</p>
            <p>Os administradores da ferramenta são os responsáveis por lançar vagas para candidatura, contando ainda com ferramentas de pesquisa 
            avançada para filtrar e encontrar perfis de alunos específicos. Além disso, os administradores têm acesso às informações de cada perfil 
            candidatado à uma vaga, podendo obter e direcionar os currículos às empresas de forma facilitada.</p>
            <p>Nossa plataforma conta com um sistema de usuários e senha com criptografia para que as informações dos alunos permaneçam seguras e 
            confidenciais, que podem ainda ser atualizadas ou excluídas a qualquer momento.</p>
            <p>Se interessou pelo Curricula? <a href="/Home/Conta">Acesse agora mesmo!</a></p>
        </div>
</section>

<footer>
    <p>&copy; @DateTime.Now.Year - Curricula</p>
</footer>
